*{
   margin: 0px;
   padding: 0px  
}
 
.nav{
border-top: 3px solid #ffde24a5;
 background: #4f4f4f;
 text-align:center;
 width: 100%;


 }

 .nav ul{

list-style: none;

 }


 nav li {

display: inline-block;

 }

 nav li a {
display: block;
padding: 15px 20px;
font: 15px tahoma, arial ;
color: #fff ;
text-decoration: none;

 }


nav li a:hover {
    background: #ffde24a5;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}




 nav li ul{
text-align: left;
display: none;
position: absolute;
background: #8a8a8a;
width: 170px;

 }



nav li:hover ul {
    display: block;
}

nav li ul li {
    display: block;
}
body {
    background-color: #adadad;
}







